[Desktop Entry]
Name=sublime
Exec=sublime
Type=Application
Description=Custom Launcher
Icon=/home/tomkeene/ExtraApps/Sublime%20Text%202/Icon/48x48/sublime_text.png
